body {
  background-color: rgb(71, 121, 21);
}
.department{
  margin: 20px 0;
}

.department-image{
  width: 100%;
  height: 350px;
}

.grey-out{
  opacity: 0.4;
}

.department-title{
  color: white;
  position: absolute;
  top: 150px;
  font-size: 60px;
}

/* ITEMS */
.item .panel{
  height: 275px;
}
.item-image{
  height: 100px;
  width: 100px;
}

.col-xs-3{
  margin-top: 10px;
  margin-bottom: 25px;
}
h1{
  justify-content: center;
}